<!DOCTYPE html>

<html>
<head>
</head>
<body>
    SEARCH FOR USER TO FOLLOW
    <form action="/searchFollow" method="POST">
        <input type="text" name="user" />
        <input type="submit" name="Send Request" />
        {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>

    MANAGE FOLLOWERS
    <form action="/followRequest" method="POST">
        {% for line in requestData %}
        <input type="radio" name="follower" value={{line.follower}}>{{line.follower}}
        <br>
        {% endfor %}
        <input type="submit" name='followButton' value="accept" />
        <input type="submit" name='followButton' value="decline" />
    </form>


    <a href="/home"> Back to Home Page </a>
    <br>
    <a href="/logout">Logout</a>

</body>


</html>